mixin priceLine(program, power, price6, price12, price18, price30)
    li.pricelist__item
        .pricelist__line
            .pricelist__type(data-sort="" +program)
                span.pricelist__icon
                a(href="meals-" +program +'.html' target="_self").pricelist__program=program
            span.pricelist__power=power
            span.pricelist__price.price-6=price6
            span.pricelist__price.price-12=price12
            span.pricelist__price.price-18=price18
            span.pricelist__price.price-30=price30
        
mixin blogItem(image, title, description, link, vkLink, inLink, fbLink)
    li.blog__item
        picture.blog__frame
            source(media="(min-width: 1366px)" srcset="static/images/content/" +image +".webp" type="image/webp")
            source(media="(min-width: 1366px)" srcset="static/images/content/" +image +".jpg")
            source(srcset="static/images/content/" +image +"-mb.webp" type="image/webp")
            img(src="static/images/content/" +image +"-mb.jpg" alt="" +title).blog__frame-image
        .blog__preview
            h2.blog__name=title
            p.blog__description=description
        .blog__bottom
            a(href="" +link target="_self").blog__show Читать полностью
            ul.blog__social
                li.blog__social-item
                    a(href="" +vkLink target="_self").blog__social-link
                        i.fab.fa-vk
                li.blog__social-item
                    a(href="" +inLink target="_self").blog__social-link
                        i.fab.fa-instagram
                li.blog__social-item
                    a(href="" +fbLink target="_self").blog__social-link
                        i.fab.fa-facebook-f
                            
mixin introBlock(type, image, title, subtitle, listTextFirst, listTextSecond, infoText)
    section(class="intro " +type)
        // Overall wrapper
        .intro__wrapper
            // Rotated bg blocks with shadow
            .intro__bg.intro__bg--1
            .intro__bg.intro__bg--2
            .intro__bg.intro__bg--3
            .intro__bg.intro__bg--4

            .intro__details
                h1.intro__title=title
                h2.intro__subtitle=subtitle

                ul.intro__list
                    li.intro__item
                        span.intro__item-text=listTextFirst
                    li.intro__item
                        span.intro__item-text=listTextSecond
                .intro__bottom
                    button(type="button").intro__try Попробовать сейчас
                    a(href="selection.html" target="_self").intro__select Побобрать рацион
                    span.intro__info=infoText
            picture.intro__frame
                source(media="(min-width: 1366px)" srcset="static/images/content/" +image +".webp" type="image/webp")
                source(media="(min-width: 1366px)" srcset="static/images/content/" +image +".jpg")
                source(srcset="static/images/content/" +image +"-mb.webp" type="image/webp")
                img(src="static/images/content/" +image +"-mb.jpg" alt="" +title).intro__frame-image

mixin introShort(type, image, title)
    section(class="intro " +type)
        .intro__wrapper
            picture.intro__frame
                source(media="(min-width: 1366px)" srcset="static/images/content/" +image +".webp" type="image/webp")
                source(media="(min-width: 1366px)" srcset="static/images/content/" +image +".jpg")
                source(srcset="static/images/content/" +image +"-mb.webp" type="image/webp")
                img(src="static/images/content/" +image +"-mb.jpg" alt="" +title).intro__frame-image
            h1.intro__title=title

mixin introBlockMeal(type, image, title, description, subtitle)
    section(class="intro " +type)
        // Overall wrapper
        .intro__wrapper
            // Rotated bg blocks with shadow
            .intro__bg.intro__bg--1
            .intro__bg.intro__bg--2
            .intro__bg.intro__bg--3
            .intro__bg.intro__bg--4

            .intro__details(data-type="" +title)
                h1.intro__title=title
                b.intro__description=description
                h2.intro__subtitle=subtitle

                .intro__bottom
                    button(type="button").intro__try Попробовать сейчас
                    span.intro__info ОТ 700 руб. в день бесплатная доставка
            picture.intro__frame
                source(media="(min-width: 1366px)" srcset="static/images/content/" +image +".webp" type="image/webp")
                source(media="(min-width: 1366px)" srcset="static/images/content/" +image +".jpg")
                source(srcset="static/images/content/" +image +"-mb.webp" type="image/webp")
                img(src="static/images/content/" +image +"-mb.jpg" alt="" +title).intro__frame-image

mixin faqItem(type, name, description)
    li(class="faq__body-item " +type)
        b.faq__body-name=name
        p.faq__body-description=description

mixin reviewsItem(image)
    picture.reviews__frame.swiper-slide
        source(media="(min-width: 1280px)" srcset="static/images/content/" +image +".webp" type="image/webp")
        source(media="(min-width: 1280px)" srcset="static/images/content/" +image +".jpg")
        source(srcset="static/images/content/" +image +"-mb.webp" type="image/webp")
        img(srcset="static/images/content/" +image +"-mb.jpg" alt="Отзыв").reviews__frame-image

mixin reasonItem(name, description, image)
    li.reasons__item
        .reasons__body
            .reasons__info
                h2.reasons__title=name
                p.reasons__description=description
            picture.reasons__frame
                source(srcset="static/images/content/" +image +".webp" type="image/webp")
                img(srcset="static/images/content/" +image +".png" alt="").reasons__frame-image

mixin dateBtn(curDate, curDay, dateTime)
    button(type="button" class="s-content__filter-btn swiper-slide " +curDay)
        time(datetime="" +dateTime).s-content__filter-btn-date=curDate

mixin gridItem(type, itemServiceText, image, title, name, suppFirst, suppSecond, suppThird, suppFourth, price, weight)
    li(class="item " +type)
        .item__service
            button(type="button" data-modal="#js-popup-change").item__service-btn.js-popup-opener
            b.item__service-about=itemServiceText
        .item__constructor
            a(href="constructor.html" target="_self").item__constructor-link Конструктор рациона

        picture.item__frame
            source(srcset="static/images/content/" +image +".webp" type="image/webp")
            img(src="static/images/content/" +image +".jpg" alt="" +name).item__frame-image
        // В каталоге нет справки
        .item__head
            h3.item__title=title
            button(type="button").item__faq
        a(href="itemcard.html" target="_self").item__name=name
        // Только в каталоге
        .item__info
            ul.item__supplements
                li.item__supplements-fact#calories-item
                    b.item__supplements-name кКал
                    span.item__supplements-nr=suppFirst
                li.item__supplements-fact#protein-item
                    b.item__supplements-name Белки
                    span.item__supplements-nr=suppSecond
                li.item__supplements-fact#fats-item
                    b.item__supplements-name Жиры
                    span.item__supplements-nr=suppThird
                li.item__supplements-fact#carbohydrates-item
                    b.item__supplements-name Углев.
                    span.item__supplements-nr=suppFourth
            .item__summary
                b.item__price=price + '₽'
                span.item__weight=weight
        .item__bottom
            .item__bottom-count
                button(type="button").item__bottom-btn.item__bottom-btn-increase +
                input(type="number" name="item-counter" id="item-counter" placeholder="1").item__bottom-input
                button(type="button").item__bottom-btn.item__bottom-btn-decrease -
            button(type="button").item__bottom-submit.js-to-cart В корзину
            button(type="button" data-modal="#js-popup-change").item__bottom-submit.js-change.js-popup-opener Заменить

mixin mealsItem(type, name, power, protein, fats, carbohydrates, idealFirst, idealSecond, idealThird, priceFive, priceSix, link)
    div(class="meals__item swiper-slide " +type data-meal="" +name)
        .meals__head
            b.meals__name=name
            span.meals__type=power
        .meals__body
            ul.meals__details
                li.meals__details-item
                    b.meals__details-nr=protein
                    span.meals__details-name Белки
                li.meals__details-item
                    b.meals__details-nr=fats
                    span.meals__details-name Жиры
                li.meals__details-item
                    b.meals__details-nr=carbohydrates
                    span.meals__details-name Углев

            .meals__suggestions
                b.meals__suggestions-title Идеально для:

                ul.meals__suggestions-list
                    li.meals__suggestions-item
                        span=idealFirst
                    li.meals__suggestions-item
                        span=idealSecond
                    li.meals__suggestions-item
                        span=idealThird
        ul.meals__bottom
            li.meals__bottom-item
                span.meals__bottom-title 5 блюд в день
                b.meals__bottom-price=priceFive
            li.meals__bottom-item
                span.meals__bottom-title 6 дней
                b.meals__bottom-price=priceSix

        a(href="" +link target="_self").meals__more Подробнее

mixin mealsListItem(type, name, info, link)
    li(class="meals-list__item " +type)
        a(href="" +link target="_self" data-type="" +name class="meals-list__link " +type) 
            h3.meals-list__name=name
            span.meals-list__info=info

mixin mealsTypeItem(title, description1, description2)
    .meals-about__info
        h3.meals-about__title=title
        p.meals-about__description=description1
        p.meals-about__description=description2

mixin feedbackItem(name, date, datetime, rate, text)
    li.itemcard__feedback-item
        .itemcard__feedback-head
            h3.itemcard__feedback-name=name
            time(datetime="" +datetime).itemcard__feedback-date=date
            div(class="itemcard__feedback-list rate-list " +rate)
                span.itemcard__star
                span.itemcard__star 
                span.itemcard__star
                span.itemcard__star
                span.itemcard__star
        p.itemcard__feedback-description=text

mixin navCartItem(type, image, name, articul, price)
    li(class="nav-cart__item "+type data-sort="" +type)
        picture.nav-cart__frame
            source(srcset="static/images/content/" +image +'.webp' type="image/webp")
            img(src="static/images/content/" +image +'.jpg' alt="" +name).nav-cart__frame-image
        .nav-cart__info
            b.nav-cart__name=name
            span.nav-cart__articul=articul
        .nav-cart__bottom
            b.nav-cart__price=price
            .nav-cart__count
                button(type="button").nav-cart__count-btn.nav-cart__count-btn-increase +
                input(type="number" name="item-counter" id="item-counter" placeholder="1").nav-cart__count-input
                button(type="button").nav-cart__count-btn.nav-cart__count-btn-decrease -
            button(type="button").nav-cart__delete

mixin navCart(type, mealType, image, name, articul, price, suppNull, suppFirst, suppSecond, suppThird, suppFourth)
    li(class="cart-data__item " +type data-sort="" +mealType)
        picture.cart-data__frame
            source(srcset="static/images/content/" +image +'.webp' type="image/webp")
            img(src="static/images/content/" +image +'.jpg' alt="" +name).cart-data__frame-image
        .cart-data__info
            b.cart-data__name=name
            span.cart-data__articul=articul
        ul.cart-data__supplements
            li.cart-data__supplements-fact#cart-weight-item
                b.cart-data__supplements-name Вес
                span.cart-data__supplements-nr=suppNull
            li.cart-data__supplements-fact#power-weight-item
                b.cart-data__supplements-name кКал
                span.cart-data__supplements-nr=suppFirst
            li.cart-data__supplements-fact#cart-protein-item
                b.cart-data__supplements-name Белки
                span.cart-data__supplements-nr=suppSecond
            li.cart-data__supplements-fact#cart-fats-item
                b.cart-data__supplements-name Жиры
                span.cart-data__supplements-nr=suppThird
            li.cart-data__supplements-fact#cart-carbohydrates-item
                b.cart-data__supplements-name Углев.
                span.cart-data__supplements-nr=suppFourth
        .cart-data__bottom
            b.cart-data__price=price
            .cart-data__count
                button(type="button").cart-data__count-btn.cart-data__count-btn-increase +
                input(type="number" name="item-counter" id="item-counter" placeholder="1").cart-data__count-input
                button(type="button").cart-data__count-btn.cart-data__count-btn-decrease -
            button(type="button").cart-data__delete

mixin cabHistory(number, date, datetime, price, link)
    li.cabinet__line
        b.cabinet__nr=number
        time(datetime="" +datetime).cabinet__date=date
        b.cabinet__price=price
        a(href="" +link target="_self").cabinet__show Смотреть

mixin cabResults(date, datetime, weight, type, link)
    li.cabinet__line
        time(datetime="" +datetime).cabinet__date=date
        span.cabinet__weight=weight
        b.cabinet__type=type
        a(href="" +link target="_self").cabinet__show Смотреть

mixin cabPoints(number, date, datetime, link)
    li.cabinet__line
        b.cabinet__nr=number
        time(datetime="" +datetime).cabinet__date=date
        a(href="" +link target="_self").cabinet__show Смотреть

mixin cabOrderContent(type, meal, image, name, articul, price, suppNull, suppFirst, suppSecond, suppThird, suppFourth, quan, overall)
    li(class="order__card order-card " +type data-sort="" +meal)
        picture.order-card__frame
            source(srcset="static/images/content/" +image +'.webp' type="image/webp")
            img(src="static/images/content/" +image +'.jpg' alt="" +name).order-card__frame-image
        .order-card__info
            b.order-card__name=name
            span.order-card__articul=articul
            button(type="button" data-modal="#js-popup-meal").order-card__btn.js-popup-opener Просмотр рациона
        ul.order-card__supplements
            li.order-card__supplements-fact#cart-weight-item
                b.order-card__supplements-name Вес
                span.order-card__supplements-nr=suppNull
            li.order-card__supplements-fact#power-weight-item
                b.order-card__supplements-name кКал
                span.order-card__supplements-nr=suppFirst
            li.order-card__supplements-fact#cart-protein-item
                b.order-card__supplements-name Белки
                span.order-card__supplements-nr=suppSecond
            li.order-card__supplements-fact#cart-fats-item
                b.order-card__supplements-name Жиры
                span.order-card__supplements-nr=suppThird
            li.order-card__supplements-fact#cart-carbohydrates-item
                b.order-card__supplements-name Углев.
                span.order-card__supplements-nr=suppFourth
        .order-card__bottom
            span.order-card__price=price
            span.order-card__quantity=quan
            b.order-card__total=overall

mixin cabOrderItem(number, date, datetime, price, stats, statsReady)
    li.order__item
        .order__line
            span.order__line-nr=number
            time(datetime="" +datetime).order__line-date=date
            span.order__line-price=price
            span(class="order__line-stats " +statsReady)=stats
            button.order__line-expand.js-order-toggle Подробнее
        .order__body
            ul.order__list
                +cabOrderContent('sertItem', '','sert', 'Подарочный сертификат', '3000 руб', '1320 руб.', '', '', '', '', '', '1 шт.', '1320 руб.')
                +cabOrderContent('', '','cart-3', 'Котлетка из оленины запеченная с розмарином и картофельными дольками', 'Артикул: Б0859', '1320 руб.', '270 г.', '338.8 кКал', '5.1 г.', '24.8 г.', '23.7 г.', '1 шт.', '1320 руб.')
                +cabOrderContent('', '','cart-4', 'Котлетка говяжья паровая с овощами Гриль и горчично-укропным соусом', 'Артикул: Б0859', '1320 руб.', '270 г.', '338.8 кКал', '5.1 г.', '24.8 г.', '23.7 г.', '1 шт.', '1320 руб.')
                +cabOrderContent('mealItem','fit', '', 'Рацион FIT', '~ 3233 кКал', '', '', '', '', '', '', '', '3320 руб.')
                +cabOrderContent('', '','cart-3', 'Котлетка из оленины запеченная с розмарином и картофельными дольками', 'Артикул: Б0859', '1320 руб.', '270 г.', '338.8 кКал', '5.1 г.', '24.8 г.', '23.7 г.', '1 шт.', '1320 руб.')
                +cabOrderContent('', '','cart-3', 'Котлетка из оленины запеченная с розмарином и картофельными дольками', 'Артикул: Б0859', '1320 руб.', '270 г.', '338.8 кКал', '5.1 г.', '24.8 г.', '23.7 г.', '1 шт.', '1320 руб.')
            .order__bottom
                ul.order__bottom-list
                    li.order__bottom-item
                        b.order__bottom-name Адрес доставки
                        span.order__bottom-data#orderAddress г. Москва, ул. Маршала Катукова, 20к2, кв. 144
                    li.order__bottom-item
                        b.order__bottom-name Способ доставки
                        span.order__bottom-data#orderType Курьер
                    li.order__bottom-item
                        b.order__bottom-name Способ оплаты
                        span.order__bottom-data#paymentType Наличные
                button(type="button").order__bottom-repeat Повторить заказ

mixin cabCalcContent(gender, age, height, weight, goal, activity, bwi, ow, saveLoss, calQ)
    .result__card.result-card
        .result-card__left
            h3.result-card__title Ваш результат
            
            .result-card__info.--personal
                ul.result-card__list
                    li.result-card__item
                        b.result-card__name Пол:
                        span.result-card__data#r-gender=gender
                    li.result-card__item
                        b.result-card__name Возраст:
                        span.result-card__data#r-age=age
                    li.result-card__item
                        b.result-card__name Рост:
                        span.result-card__data#r-height=height
                    li.result-card__item
                        b.result-card__name Вес:
                        span.result-card__data#r-weight=weight
            .result-card__info.--goals
                ul.result-card__list
                    li.result-card__item
                        b.result-card__name Цель:
                        span.result-card__data#r-goal=goal
                    li.result-card__item
                        b.result-card__name Активность:
                        span.result-card__data#r-age=activity
            .result-card__info.--data
                ul.result-card__list
                    li.result-card__item
                        b.result-card__name Индекс массы тела:
                        span.result-card__data#bwi=bwi
                    li.result-card__item
                        b.result-card__name Оптимальный вес:
                        span.result-card__data#ow=ow
                    li.result-card__item
                        b.result-card__name Похудение без вреда:
                        span.result-card__data#saveLoss=saveLoss
            .result-card__summary
                p.result-card__description Чтобы Снизить вес Вам нужно потреблять:
                b.result-card__quantity=calQ + ' '
                    span кКал в день
        .result-card__right
            h3.result-card__title Рационы для вас
            
            ul.result-card__meal
                li.result-card__meal-item
                    a(href="meals-fit.html" target="_self" data-meal="fit").result-card__meal-link
                        b.result-card__meal-name Fit
                        span.result-card__meal-power ~ 1300 кКал
                li.result-card__meal-item
                    a(href="meals-fit.html" target="_self" data-meal="balance").result-card__meal-link
                        b.result-card__meal-name Balance
                        span.result-card__meal-power ~ 1800 кКал
                li.result-card__meal-item
                    a(href="meals-fit.html" target="_self" data-meal="power").result-card__meal-link
                        b.result-card__meal-name Power
                        span.result-card__meal-power ~ 2500 кКал

mixin cabCalcItem(date, datetime, weight, goal, activity)
    li.result__item
        .result__line
            time(datetime="" +datetime).result__line-time=date
            span.result__line-weight=weight
            span.result__line-goal=goal
            span.result__line-activity=activity
            button(type="button").result__line-expand.js-result-toggle Подробнее
        .result__body
            +cabCalcContent('мужской', '25', '176', '82 кг.', 'набор массы', 'экстримальная активность', '23.15 имт', '66 кг.', '-9 кг.', '1623')

mixin cabPoiContent(type, meal, image, name, articul, income, price)
    li(class="point__card point-card " +type data-sort="" +meal)
        picture.point-card__frame
            source(srcset="static/images/content/" +image +".webp" type="image/webp")
            img(src="static/images/content/" +image +".jpg" alt="" +name).point-card__frame-image
        .point-card__info
            b.point-card__name=name
            span.point-card__articul=articul
            button(type="button" data-modal="#js-popup-meal").point-card__btn.js-popup-opener Просмотр рациона
        .point-card__bottom
            b.point-card__income=income
            span.point-card__price=price

mixin cabPoiItem(number, date, datetime, price, income, outcome, typeI, typeO)
    li.point__item
        .point__line
            span.point__line-nr=number
            time(datetime="" +datetime).point__line-date=date
            span.point__line-price=price
            span(class="point__line-income " +typeI)=income
            span(class="point__line-outcome " +typeO)=outcome
            button(type="button").point__line-expand.js-point-toggle Подробнее
        .point__body
            ul.point__list
                +cabPoiContent('sertItem', '', 'sert', 'Подарочный сертификат', '3000 руб', '+56 баллов', '320 руб.')
                +cabPoiContent('mealItem', 'fit', 'cart-2', 'Рацион FIT', '~ 1345 кКал', '+56 баллов', '320 руб.')
                +cabPoiContent('', '', 'cart-3', 'Котлетка из оленины запеченная с розмарином и картофельными дольками', 'Артикул: Б0859', '+52 баллов', '3220 руб.')
